<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/media.min.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="container">

        <div class="header">
            <div class="info-table">
                <div class="book-info">
                    <div class="discount">{{ book_discount_procent }}</div>
                    <div>
                        <div class="book_name">{{ book_name }}</div>
                        <div class="author">{{ book_author }}</div>
                    </div>
                    <div>
                        <div class="main_price">{{ book_price }} {{ book_currency_price }}</div>
                        <div class="discount_price">290 грн</div>    
                    </div>
                </div>
            </div>
            <div class="inputs">
                <label for="input">Назва</label>
                <input type="text">
                <label for="input">Жанр</label>
                <input type="text">
                <label for="input">Автор</label>
                <input type="text">
                <label for="input">Ціна</label>
                <input type="text">
            </div>
        </div>

        <input type="text" class="search" placeholder="Пошук...">

        <div class="buttons">
            <div class="top-side">
                <div class="svg-wrapper">
                    <svg height="50" width="150" xmlns="http://www.w3.org/2000/svg">
                        <rect class="shape1" height="50" width="150" />
                        <rect class="shape2" height="50" width="150" />
                        <div class="text">Показати все</div>
                    </svg>
                </div>
                <div class="svg-wrapper">
                    <svg height="50" width="150" xmlns="http://www.w3.org/2000/svg">
                        <rect class="shape1" height="50" width="150" />
                        <rect class="shape2" height="50" width="150" />
                        <div class="text">Пошук книги</div>
                    </svg>
                </div>
                
            </div>
            <div class="bottom-side">
                <div class="svg-wrapper">
                    <svg height="50" width="150" xmlns="http://www.w3.org/2000/svg">
                        <rect class="shape1" height="50" width="150" />
                        <rect class="shape2" height="50" width="150" />
                        <div class="text">Додати книгу</div>
                    </svg>
                </div>
                <div class="svg-wrapper">
                    <svg height="50" width="150" xmlns="http://www.w3.org/2000/svg">
                        <rect class="shape1" height="50" width="150" />
                        <rect class="shape2" height="50" width="150" />
                        <div class="text">Додати фотографію</div>
                    </svg>
                </div>
            </div>
            <div>Книгарня</div>
        </div>

        <div class="contacts">
            <div class="telegram_bot">
                <a href="#">Telegram</a>
                <a href="#">Bot</a>
            </div>
            <div>
                <a href="https://t.me/Itz_Maze">Telegram</a>
            </div>
            <div class="nickname">
                <div>ItzMaze</div>
                <div>Artem Nikolaiev</div>
            </div>
            <div><a href="https://github.com/Nikolaev3Artem">GitHub</a></div>
            <div><a href="https://freelancehunt.com/freelancer/Artik88.html ">Freelance</a></div>
        </div>
    </div>
</body>
</html>